body {
    text-align: center;
    background-color: #001122; /* Fondo oscuro espacial */
    color: #fff; /* Texto blanco */
    font-family: 'Arial', sans-serif;
}
h1 {
    font-size: 3.5em; /* Tamaño de fuente grande */
    color: #db0000; /* Color del texto (amarillo brillante) */
    text-transform: uppercase; /* Convertir el texto a mayúsculas */
    letter-spacing: 3px; /* Espaciado entre letras */
    margin-bottom: 30px; /* Márgenes inferior para separar del contenido siguiente */
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8); /* Sombra de texto para un efecto más impactante */
    font-weight: bold; /* Texto en negrita */
}

/* Agrega una animación de destello */
@keyframes flash {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

h1:hover {
    animation: flash 1s infinite; /* Aplica la animación al hacer hover sobre el h1 */
}

#game-container {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    position: relative;
    border: 2px solid #112233; /* Borde más oscuro para el contenedor del juego */
    background-color: #001122; /* Fondo oscuro espacial para el contenedor del juego */
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1); /* Sutil resplandor blanco */
}

#target {
    width: 50px;
    height: 50px;
    background-color: #ffcc00; /* Amarillo brillante para el objetivo */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    border-radius: 50%; /* Forma circular para el objetivo */
}

#fake-target {
    width: 50px;
    height: 50px;
    background-color: #336699; /* Azul para el objetivo falso */
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    border-radius: 50%; /* Forma circular para el objetivo falso */
}

.special-item {
    display: flex;
    align-items: center;
    margin: 10px;
    transition: transform 0.2s;
    border: 2px solid #3399cc; /* Borde azul para los objetos especiales */
    border-radius: 10px;
    padding: 10px;
    background-color: #001122; /* Fondo oscuro espacial para los objetos especiales */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2); /* Sutil resplandor blanco */
}

.special-item:hover {
    transform: scale(1.1);
}

.item-icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background-color: #3399cc; /* Azul para los íconos de los objetos */
    border: 1px solid #66ccff; /* Borde más claro para los íconos de los objetos */
    border-radius: 50%;
}

.item-details {
    flex: 1;
}

.legendary-item {
    background-color: #ffcc00; /* Amarillo para el objeto más caro */
    border-color: #ff9900;
    font-weight: bold;
    color: #001122; /* Texto oscuro para el objeto más caro */
    box-shadow: 0 0 20px #ffcc00;
}

.epic-item {
    background-color: #aa80ff; /* Púrpura para el segundo objeto más caro */
    border-color: #9955ff;
    font-style: italic;
}

.item-icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.item-icon.item-1 {
    background-image: url('./images.jpg'); /* Ruta a tu imagen */
    background-size: cover;
    background-repeat: no-repeat;
    color: transparent;
    border: 2px solid #ffcc00; /* Borde amarillo para el ícono del objeto 1 */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    animation: flame 1s ease-in-out infinite;
}

.item-icon.item-2 {
    background-image: url('./ren.jpg'); /* Ruta a tu imagen */
    background-size: cover;
    background-repeat: no-repeat;
    color: transparent;
    border: 2px solid #ffcc00; /* Borde amarillo para el ícono del objeto 2 */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    animation: flame 1s ease-in-out infinite;
}

.item-icon.item-3 {
    background-image: url('./dra.jpg'); /* Ruta a tu imagen */
    background-size: cover;
    background-repeat: no-repeat;
    color: transparent;
    border: 2px solid #ffcc00; /* Borde amarillo para el ícono del objeto 3 */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    animation: flame 1s ease-in-out infinite;
}

/* Estilo base */

@media screen and (max-width: 600px) {
    /* Estilos específicos para pantallas más pequeñas */
    #game-container {
        width: 90%; /* Puedes ajustar según sea necesario */
    }

    #target, #fake-target {
        width: 15%; /* Ajusta el tamaño del objetivo en pantallas más pequeñas */
    }

    .special-item {
        width: 90%; /* Ajusta el ancho de los elementos especiales en pantallas más pequeñas */
    }

    .item-icon {
        width: 20%; /* Ajusta el tamaño del ícono en pantallas más pequeñas */
    }

    #special-items {
        width: 90%; /* Ajusta el ancho de la lista de elementos especiales en pantallas más pequeñas */
    }
}
